/**{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}*/
body{
	text-align: center;
	margin: 0;
}
h1	{
	font-family: Raleway, sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0	;
}
.anchor {
	font-family: Raleway, sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}
.instruct {
	font-family: Raleway, sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
.descript {
	font-family: "Droid Serif", sans-serif;
	line-height: 26px;
	font-size: 18px;
}
ul {
	list-style: none;
}
header {
	background-color: #F15B31;
	font-color: #ffffff;
	padding: 30px 20px;
}
nav {
	background-color: #00A6B3;
	font-color: #FFFFFF;
	padding: 20px 0;
}
a {
	padding: 0 20px;
	border-bottom: 2px solid transparent;
}
a:hover{
	border-color: white;
}
main {
	width: 850px;
	margin: 35px auto;
}
img {
	padding: 40px 8px;
}
.copyright {
float: left;
font-family: Raleway, sans-serif;
}
.message {
float: right;
font-family: Raleway, sans-serif;
}
footer	{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: black;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.name{
	color: #f15b31;
	font-weight: 700;
}
.clearfix: after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}